* {
    font-family: 'Arial', sans-serif;
    
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 100%;
    max-height: 100vh;
   
}
#container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid #b10d0d;
    padding: 10px;
    background-image: linear-gradient(blue , rgb(158, 158, 194));
    width: 500px;
    height: 200px
}
 input {
   border-radius: 10px;
}
h1 {
    color:#a10a0a
}
p {
    color: white;
    font-size: 20px;
}
button {
    border-radius: 50px;
}